/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav,main,aside{
  float: left;
  width: 10%;

}

nav {
  height: 500px;
}

nav img{
  padding: 30px 30px 20px 30px;
  height: 120px;
  width: 200px;
}

nav img + a{
  padding-left: 30px; 
}

nav ul *{
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 15px;
}

main{
  width: 50%;
}

aside{
  width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
