/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav,main,aside{
  float: left;
  width: 10%;

}

nav {
  height: 500px;
}

nav img{
  padding: 30px 30px 20px 30px;
  height: 120px;
  width: 200px;
}

nav img + a{
  padding-left: 30px; 
}

nav ul *{
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 15px;
}

/* Styling for main section */
*{
  font-family: sans-serif;
}



main h1{
  font-size: 42px;
  font-weight: 900;
}

main p{
  font-size: 24px;
  color: rgba(59, 59, 59, .5);
  padding-bottom: 10px;
  padding-right: 190px;
}

main p + span{
  display: block;
  padding-bottom: 10px;
}

main img{
  width: 90%;
  height: 500px;
}

main h3{
  font-size: 22px;
  padding: 35px 0;
}

main h2{
  font-size: 26px;
  font-weight: 900;
  width: 50%;
  padding-bottom: 10px;
  padding-right: 19%;
  float: left;
}

main h2 + p{
  font-size: 18px;
  float: none;
  color: red;
  color: rgba(59, 59, 59, .5);
  padding-right: 120px;
  height: 130px;
}

ul { 
  list-style-type: none;
}

aside h2 {
  
  font-size: 30px;
  padding: 30px 100px 10px 20px;
}

aside span{
  padding: 0px 0px 0px 20px;
  
  width: 100%;
}

aside img{
  padding-top: 150px;
}

main p + span{
  font-weight: 600;
}

main p + span + span{
  color: rgba(15, 15, 15, 0.5);
}



nav {
width: 15%;
}

main{
  width: 55%;
}

aside{
  width: 30%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
