@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  
  font-family: 'Merriweather', serif;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

nav *{
  float: left;
}

.logo{
  width: 25%;
  padding-left: 100px;
  padding-top: 25px;
}
.logo > img{
  width: 125px;
  
}

ul{
  width: 50%
}
ul > li {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
}
ul img:nth-child(7){
  width: 60px;
  
  padding: 10px 0px 0px 35px;
}
body ul img:last-child{
  width: 20px;
  padding: 15px 0px 0px 10px;
}



/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
