@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  
  font-family: 'Merriweather', serif;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

nav{
  /* float: left; */
}

.nav-items{
  /* background-color: red; */
  /* height: 100px; */
  /* float: left; */
}

.logo{
  width: 25%;
  padding-left: 150px;
  padding-top: 25px;
}
.logo > img{
  width: 125px;
  
}

ul{
  width: 55%
}
ul > li {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
}
ul li:nth-child(7){
  /* width: 100px; */
  
  padding: 10px 0px 0px 35px;
}


.search{
  padding-top: 5px;
  width: 25px;
  height: 25px;
}
.bell{
  width: 20px;
  height: 20px;
}

ul + a{
  color: black;
  padding-top: 28px;
}

main{
  clear: both;
  height: 1100px;
  background-image: url(/class10/Homework/Hair-Salon/img/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main section h1{
  font-weight: 100;
  padding: 290px 0 0 350px;
  font-size: 94px;
  color: white; 
  margin-bottom: 20px;
}

main section h1 > span{
  display: block;
}

main section h1 + p{
  padding: 0 0 0 350px;
  font-weight: 300;
  word-spacing: 10px;
  font-size: 18px;
  color: white; 
}
main div{
  padding: 50px 0 0 350px;
  height: 90px;
}

main section + div > a{
  background: black;
  color: white;
  padding: 15px 20px 15px 30px;
  border: solid 1px black;
}

.hours{
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  transform: rotate(90deg);
  color: white;
  position: absolute;
  top: 500px;
  left: calc(100vw - (100vw - 90%));;
}

.booking{
  color: white;
  padding: 10px 0 0 0px;
  background: black;
  width: 300px;
  height: 350px;
  margin-left: 350px;
  margin-top: 75px; 
  box-shadow: 2px 2px 2px 2px black
}

.booking  p:first-child{
  height: 80px;
  border-left: 5px solid white;
  padding: 35px 0 0 30px;
}

.booking span{
  font-size: 38px;
}

.booking p + p{
  line-height: 40px;
  word-spacing: 3px;
  color: white;
  padding: 0px 0px 50px 30px;
  font-size: 16px;
}

.booking a{
  background-color: white;
  margin-left: 30px;
  margin-top: 50px;
  padding: 15px 20px 15px 30px;
}

.services{
  padding-top: 100px;
  margin-left: 350px;
  /* height: 400px; */
  width: calc(100vw - (100vw - 65%));
  text-align: center;
}

.section-container-one > section{
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-bottom: 100px;
}

/* .services section.section-container{
  display: inline-block;
} */
.section-container-two{
  width: 100vw;
  position: relative;
  left: calc(-50vw + 49.3%);
  /* display:inline-block; */
  background-color: rgb(226, 222, 222);
  height: 630px;
  
}

.section-container-two > section{
  
  display: inline-block;
}

.section-two{
  width: 550px;
  margin-top: 100px;
  margin-left: 20px;
  
}

.section-two span{
  display: block;
  
}

.section-two h3{
  font-size: 45px;
  text-align: left;
  font-weight: 200;
}

.section-two p{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  padding-right: 10px;
}

.section-two div{
  text-align: left;
  padding-top: 50px;
}

.section-two div > a{
  background: black;
  color: white;
  padding: 15px 20px 15px 30px;
  border: solid 1px black;
}


.image-section{
  width: 550px;
  height: 373px;
  margin-left: 100px;
  margin-top: 100px;
  
}

.image-section .video{
  width: 550px;
  height: 373px;
}

.videoIcon{
  position: absolute;
  top: 270px; 
  left: 1235px;
}

.stylers{
  text-align: left;
}

.stylers > section{
  display: inline-block;
  
}

.section-three > h2{
  font-size: 45px;
  margin-bottom: -40px;
}

.section-three > h2 + p{
  font-size: 45px;
  padding-bottom: 40px;
}

.stylers img{
  height: 330px;
  padding: 0 26px;
}

.stylers h2{
  text-align: center;
  font-weight: 300;
  font-size: 20;
}

.stylers p{
  text-align: center;
  font-weight: 300;
  font-size: 13;
}

.section-three + section{
  height: 454px;
  background-image: url(/class10/Homework/Hair-Salon/img/Promo-Banner-Image.jpg);
  background-repeat: no-repeat;
  margin: 50px 0;
  
}

.colour-Offer{
  text-align: left;
  padding-left: 100px;
  
}

.colour-Offer h3{
  font-weight: 200;
  padding: 75px 0 20px 0;
  font-size: 22px;
}

.colour-Offer h2{
  font-weight: 300;
  font-size: 40px;
  padding-right: 60%;
  line-height: 60px;
}

.colour-Offer a{
  background: black;
  color: white;
  padding: 15px 20px 15px 30px;
  border: solid 1px black;
}


.row {
  display: inline-block;
  padding: 5px;
  height: 1200px;
  margin-left: 10px;
}

.column img{
  padding: 5px;
  float: left;
}

.bot-left{
  position: relative;
  top: -779px;
}

.bot-mid{
  position: relative;
  top: -379px;
}

.row p{
  font-size: 45px;
  margin-bottom: -40px;
}

.row p + p{
  margin-bottom: 40px;
}




/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
