@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  
  font-family: 'Merriweather', serif;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

nav *{
  float: left;
}

.logo{
  width: 25%;
  padding-left: 150px;
  padding-top: 25px;
}
.logo > img{
  width: 125px;
  
}

ul{
  width: 55%
}
ul > li {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
}
ul li:nth-child(7){
  /* width: 100px; */
  
  padding: 10px 0px 0px 35px;
}


.search{
  padding-top: 5px;
  width: 25px;
  height: 25px;
}
.bell{
  width: 20px;
  height: 20px;
}

ul + a{
  color: black;
  padding-top: 28px;
}

main{
  clear: both;
  height: 1100px;
  background-image: url(/class10/Homework/Hair-Salon/img/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main section h1{
  font-weight: 100;
  padding: 290px 0 0 350px;
  font-size: 94px;
  color: white; 
  margin-bottom: 20px;
}

main section h1 > span{
  display: block;
}

main section h1 + p{
  padding: 0 0 0 350px;
  font-weight: 300;
  word-spacing: 10px;
  font-size: 18px;
  color: white; 
}
main div{
  padding: 50px 0 0 350px;
  height: 90px;
}

main section + div > a{
  background: black;
  color: white;
  padding: 15px 20px 15px 30px;
  border: solid 1px black;
}

.hours{
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  transform: rotate(90deg);
  color: white;
  position: absolute;
  top: 500px;
  left: calc(100vw - (100vw - 90%));;
}

.booking{
  color: white;
  padding: 10px 0 0 0px;
  background: black;
  width: 300px;
  height: 350px;
  margin-left: 350px;
  margin-top: 75px; 
  box-shadow: 2px 2px 2px 2px black
}

.booking  p:first-child{
  height: 80px;
  border-left: 5px solid white;
  padding: 35px 0 0 30px;
}

.booking span{
  font-size: 38px;
}

.booking p + p{
  line-height: 40px;
  word-spacing: 3px;
  color: red;
  padding: 0px 0px 50px 30px;
  font-size: 16px;
}

.booking a{
  background-color: white;
  margin-left: 30px;
  margin-top: 50px;
  padding: 15px 20px 15px 30px;
}





/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
