@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Playfair Display', serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
     
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* background-color: gray; */

}




/******************************************
/* LAYOUT
/*******************************************/

nav *{
  display: inline-block;
  text-align: right;
  
  margin: 0;
}

.logo{
  height: 64px;
  margin-right: 550px;
}
nav > ul{
  width: 95%;
  /* border: 1px solid black; */
}
ul > li {
  padding: 0px 25px;
  font-weight: 600;
  font-size: 18px;
}

.search{
  padding: 0 30px;
}

.cart{
  padding: 0 50px;
}

header {
  clear: both;
  background-image: url(/class10/Homework/Restaurant/img/mixed-fruit.png);
  height: 1100px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 100%;
}

header h1{
  padding: 150px 0 0 100px;
  font-size: 100px;
}

header form{
  padding: 0 0 0 100px;
  
}

header form input{
  background-image:url(/class10/Homework/Restaurant/img/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position:10px;
  font-size: 18px;
  padding: 0 0 0 40px;
  height: 56px;
  width: 550px;
}
form > a{
  /* border: 1px solid black; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -5px;
  padding: 20px 40px 17px 40px;
  background-color: rgb(231, 128, 38);
  color: white;
}

header .socials li{
  display: inline-block;
  padding-left: 100px;
}

.socials li p{
  font-size: 24px;
  font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:300;
}

header h1 span{
  display: block;
}

.pie{
  background-image: url(/class10/Homework/Restaurant/img/pie.jpg);
  height: 1000px;
  background-repeat: no-repeat;
  width: 50%;
  
}



footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
