*{
    font-family: sans-serif;
    margin: 0px;
}

header{
    background: rgb(102, 118, 138);
    color: white;
    height:100px;
    
}

nav *{
    float: left;
    width:40%;
    display: block;
    padding-top: 1.5%;
    font-weight: 600;
}

ul{
    width:15%;
    
}

nav > img{
    width: 10%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1%;
    width: 50px;
    height: 50px;
}

.donate{
    width: 10%;
    justify-content: center;
    color: rgb(102, 118, 138);
    font-weight: bolder;
    align-items: center;
    margin-bottom: 0px;
}

.donate > p{
    width: 50%;
    margin-left: 240px;
    text-align: center;
    height: 20px;
    background: white;
    padding: 10px 0px 5px 0px;
    border-radius: 9%;
}

section{
    background: rgb(102, 118, 138);
    height: 650px;
    text-align: center;
    color: rgb(241, 236, 236);
}

section > h1{
    font-size: 90px;
    padding: 100px 0px 75px 0px; 
}

section > p{
    font-size: 32px;
    padding: 0px 9%;
    padding-bottom: 40px;
}

section > span{
    color: rgb(235, 233, 233);
    vertical-align: 20px;
    font-size: 24px;
}

section > h6{
    font-size: 18px;
    color: rgb(40, 61, 87);
    font-family: 600;
    margin-top: 100px;
}

section + section{
    background: white;
    color: black;
    height: 440px;
}

h2{
    margin-top: 175px;
    font-size: 42px;
}
section > h2 + p{
    text-align: center;
    margin-top: 30px;
    padding: 0px 25%;
}

section + section + section{
    background: rgb(102, 118, 138);
}




