nav{
    background-color:  black;
    height: 60px;
    text-decoration:none;
    display: flex;
}
a:link { text-decoration: none; }

.BBC {
    height: 32px;
    width: 142px;
    font-weight: bolder;
    align-items: center;
    margin: 10px 0px 10px 50px;
    text-align: center;
}

.BBC a{
    font-size: 36px;
    background-color: white;
    border: solid white 0px;
    color: black;
    align-items: center;
    padding-right: 5px;
    
}

a{
    
    font-size: 18px;
    color: white;
    align-items: center;
}



.nav-items{
    margin-left: 240px;
    display: flex;
    gap: 70px;
    align-items: center;
}


.day-of-the-week{
    padding: 30px 0px 10px;
    text-align: center;
    color: black;
    font-size: 20px;
    display: flex;
}

.welcome{
    position: relative;
    right: 425px;
    font-weight: bolder;
}
.date{
    position: relative;
    left: 400px;
    color: gray;
    font-weight: bolder;
}
section{
    justify-content: center;
}

.LeadingStories{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns:   300px 300px 300px 300px;
    grid-template-rows: 170px 170px
}

.main{
    margin: 0;
    height: 332px;
    width: 591px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sideStory1, .sideStory2,.sideStory3, .sideStory4{
    height: 157px;
    width: 280px;
    align-self: center;
}

.sideStory1{
    grid-column-start: 3;
    grid-column-end: 4;
}

.main-story-text{
    
    display: grid;
    grid-template-columns:   300px 300px 300px 300px;
    grid-template-rows: 170px 170px;
    font-size: 32px;
    position: absolute;
    top: 32%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-story-text a{
    color: white;
    font-size: 12px;
}

.main-story-text p{
    margin: 0px;
}



.main-story-text p:nth-child(1){
    color: white;
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: end;
    
}

.main-story-text p:nth-child(2){
    color: white;
    align-self: end;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main-story-text p:nth-child(3){
    color: white;
    align-self: end;
    font-size: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main-story-text p:nth-child(4){
    color: white;
    font-size: 20px;
    align-self: end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-story-text p:nth-child(5){
    color: white;
    align-self: end;
    font-size: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}


.main-story-text span{
    font-size: 16px;
}




h2{
    color: black;
}

.news-link{
    color: black;
    position: relative;
    
    left: 63.9%;
    transform: translate(-50%, -50%);
}

.news-link > a{
    color: black;
    font-size: 24px;
    
}
/*
h2 > a {
    
    color: black;
    left: 350px;
    font-size: 24px;
    position: relative;
    left: 400px;
}
*/


.new-articles{
    margin-left: 13.5%;
    margin-right: 13%;
    display: grid;

    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 240px 50px 50px 50px;
}
.new-articles a{
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.new-articles img{
    height: 210px;
    width: 380px;
    margin-top: 20px;
    
}

.newsStory{
    grid-column-start: 1;
    grid-column-end: 2;
}
.newsStory2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.newsStory3{
    grid-column-start: 3;
    grid-column-end: 4;
}

.new-articles p ~ a{
    padding-top: 10px;
    color: darkgrey;
    font-size: 20px;
    font-weight: 400;

}