/* Please Make only Rhino and Zebra Blue */
.africa{
    color:  blue;
}

/* Please Make only Hufflepuff Gold */

#bestHouse{
 color:  gold;
}
/* Please select Duck with the highest level of specificity possible */

head + body > h1 + section + section + article.areDucksDinosaurs > h2.likesToQuack{
    color: red !important
}
/* Please select Rhino with the highest level of specificity possible */
head + body > h1 + section.top > h2#rhino.africa{
    color: pink !important;
} 