* {
    margin: 0px;
}

body{
    background-color: lightgray;
}

header, footer{
    border: 1px solid black;
    height: 150px;
    clear: both;
}
.one, .two, .three, .four{
    height: 548px;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    
}

.one, .three, .four{
    width: 19%;
}

.two {
    width: 43%;
    box-sizing: border-box;
}


