nav {
    height: 50px;
    padding-top: 1px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
nav ul{
    display: flex;
    justify-content:center;
    list-style-type:none;
    vertical-align: baseline;
    height: 50px;
}

nav li:nth-child(1),  nav li:nth-child(2){
    padding-left: 50px;
    padding-right: 50px;
    color: #1865f2;
    font-weight: bold;
    vertical-align: baseline;
}

#course {
    color: #1865f2;
    border: 0px;
    width: 20px;
    
}


.title {
    background-size: 100% 100%;
    height: 28px;
    width: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Class3/class-03-materials/Class3-homework/img/Logo.svg);
}
#search{
    color: #1865f2;
    background-color: rgb(227,229,230);
    border: 1px;
    height: 40px;
    width: 200px;
    border-radius: 4%;
    
}

#search-glass{
    color: rgb(180,182,200);
    margin: -20px;
    font-size: 22px;
}


nav li:nth-child(3){
    padding-left: 150px;
    padding-right: 150px;
    color: red;
}

nav li:nth-child(4),  nav li:nth-child(5), nav li:nth-child(6){
    padding-left: 50px;
    padding-right: 50px;
    justify-content:right;
    color: green;
}

