

body {
    background: rgb(99, 209, 243);
    list-style-type: none;
}

/* div{
    border: 20px solid rgb(181, 225, 244);;
    color: rgb(244, 246, 247);
    font-size: 20px;
    height: 80%;
    width: 45%;
} */

h1 {
    font-size: 38px;
    text-align: center;
}

h2 {
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 40px;
    font-size: 30px; 
    font-weight:bolder;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}
li {
    padding-left: 10px;
    /* padding-right: 10px; */
    font-size: 22px;
    font-weight: bolder;
}



a:link {
    color: blue;
  }
  
  /* visited link */
a:visited {
color: rgb(27, 204, 115);
}

li:first-child{
    padding-right: 10px;
}

li:not(:first-child){
    
    padding-right: 10px;
    border-left: 1px solid black;
}

div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    color: rgb(244, 246, 247);
    height: 715px;
    width: 765px;
    border: 5px rgb(27, 204, 115) solid;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



img {
    height: 300px;
    width: 220px;
    float: right;
    margin-bottom: 10px;
    padding-right: 40px;
    padding-left: 30px;
    /* padding-bottom: 20px; */
}

p {
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px; 
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 20px;
}
nav {
    width: 100%;
    margin: 20px;
}