* {
    margin: 0px;
}

body{
    background-color: lightgray;
}

header, footer{
    border: 1px solid black;
    height: 150px;
    clear: both;
}

/* section{
    float: right;
} */
.one , .two,  .three{
    width: 33.33%;
    float: right;
    box-sizing: border-box;
    height: 225px;
    border: 1px solid black;
    box-sizing: border-box;
}


.four, .five{
    float: left;
    width: 50%;
    height: 322px;
    border: 1px solid black;
    box-sizing: border-box;
}