* {
    margin: 0px;
}

body{
    background-color: lightgray;
}

header, footer{
    border: 1px solid black;
    height: 193px;
    clear: both;
}
.one {
    width: 100%;
    float: right;
    box-sizing: border-box;
    height: 225px;
    border: 1px solid black;
    box-sizing: border-box;
}


.two, .three{
    float: left;
    height: 322px;
    border: 1px solid black;
    box-sizing: border-box;
}

.two {
    width: 33.33%;
}
.three{
    width: 66.66%;
    box-sizing: border-box;
}