@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&family=Source+Sans+Pro:wght@200&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background: #E6E9ED;
  }

.main-page-container{
    height: 1000px;
    background: #F5F9FC;
    width:70%;
    margin-left: 400px;
    margin-top: 75px;
}  

nav *{
    float: left;
    display: block;
    width:80%;
    background: #F5F9FC;
    height: 50px;
    font-weight: bold;
    color: #2F4558;
}

nav a{
    width: 20%;
    padding-left: 5%;
    font-size: 24px;
    font-weight: bold;
    padding-top: .5%; 

}

a:link { text-decoration: none; }

nav > ul > li *{
    width: 20%;
    float: left;
    
}

nav ul{
    padding-left: 100px;
    font-size: 16px;
}

nav > ul > li {
    width: 15%;
    padding-top: 2%;
    font-weight:500;
}



nav button{
    width: 100px;
    height: 40px;
    margin-left: 25%;
    margin-top: 1.25%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #2F4558;
}

main section{
    padding-top: 60px;
}

main > section{
    width: 50%;
    float: left;
    background: #F5F9FC;
}

section h4{
    font-size: 12px;
    margin-left: 100px;
    padding-bottom: 10px;
    background: #F5F9FC;
}
section h1{
    font-size: 32px;
    font-weight: bolder;
    width: 300px;
    margin-left: 100px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    background: #F5F9FC;
    
}

section form{
    margin-left: 100px;
    display:flex;  
    background: #F5F9FC; 
}

section form input{
    background: #F5F9FC;
    height: 30px;
    width:250px;
    border: transparent;
    
}

form button{
    height: 30px;
    width: 75px;
    background: #2F4558;
    color: white;
    border: transparent;
    margin-right: 100px;
    padding: 0px;
    
}

main section p{
    padding-top: 20px;
    margin-left: 100px;
    width: 300px;
    font-size: 14px;
    background: #F5F9FC;
}

main img{
    height: 400px;
    width: 100%;
    scale: 1em;
    /* margin-left: 20%; */
    
}

.features section{
    float: left;
    width: 23%;
    
    
}

.left{
    margin-left: 100px;
}

.features section p{
    width: 223px;
}
